.list {
	font-size: $font-size-large;
	display: flex;
	border-bottom: 1px solid darken($off-white, 20%);
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: background 0.3s ease;
	&:hover {
		background: $light-blue;
	}
	@media (min-width: $desktop-breakpoint) {
		flex-direction: row;
	}
}
.list-items {
	flex-grow: 1;
	display: flex;
	padding: 0;
	flex-direction: column;
	cursor: pointer;
	@media (min-width: $desktop-breakpoint) {
		padding: $s-size;
	}
}
.list-items_row {
	display: flex;
	margin-bottom: 0;
	width: 115%;
	flex-direction: column;
	justify-content: space-between;
	@media (min-width: $desktop-breakpoint) {
		flex-direction: row;
		margin-bottom: 0 $l-size;
		
	}
	>:last-child {
		// color: green;
	}
}
// .list-items_row:first-child {
// 	margin-bottom: $s-size;
// }
.list-item {
	width: 100%;
	margin: 0 $xl-size;
	font-size: $font-size-xsmall;
	margin-left: 0;
	@media (min-width: $desktop-breakpoint) {
		font-size: $font-size-medium;
		margin: 0;
		width: 33%;
	}
}


