.list {
	font-size: $font-size-large;
	display: flex;
	border-bottom: 1px solid darken($off-white, 20%);
	flex-direction: column;
	align-items: center;
	transition: background 0.3s ease;
	&:hover {
		background: $off-white;
	}

	@media (min-width: $desktop-breakpoint) {
		flex-direction: row;
		justify-content: space-between;
	}
}
.list-items {
	width: 100%;
	display: flex;
	padding: 0;
	flex-direction: column;
	cursor: pointer;
	@media (min-width: $desktop-breakpoint) {
		padding: $s-size;
	}
}
#first_row {
	padding: $s-size 0 $l-size 0;
}
.list-items_row {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
	align-items: center;
	align-items: flex-start;
	justify-content: flex-end;
	@media (min-width: $desktop-breakpoint) {
		flex-direction: row;
		margin-bottom: 0 $l-size;
		align-items: center;
		justify-content: space-between;
	}
}

.list-item {
	position: relative;
	line-height: 1.2;
	width: 100%;
	font-size: $font-size-small;
	padding: 0;
	margin-left: 0;
	@media (min-width: $desktop-breakpoint) {
		font-size: $font-size-medium;
		padding: 0 $m-size $m-size 0;
		width: 30%;
	}
}

#name:before {
	content: 'DŁUŻNIK';
	font-size: 9px;
	font-style: italic;
	color: $light-grey;
	position: absolute;
	left: 0;
	top: -$s-size;
}

#nip:before {
	content: 'NIP';
	font-size: 9px;
	font-style: italic;
	color: $light-grey;
	position: absolute;
	left: 0;
	top: -$s-size;
}

#value:before {
	content: 'KWOTA ZADŁUŻENIA';
	font-size: $font-size-xsmall;
	font-style: italic;
	color: $light-grey;
	position: absolute;
	left: 0;
	top: -$s-size;
}

#address:before {
	content: 'ADRES';
	font-size: $font-size-xsmall;
	font-style: italic;
	color: $light-grey;
	position: absolute;
	left: 0px;
	top: -$s-size;
	color: $light-grey;
}

#docType:before {
	content: 'RODZAJ/TYP DOKUMENTU STANOWIĄCY PODSTAWĘ DLA WIERZYTELNOŚCI';
	font-size: 0.9rem;
	color: $light-grey;
	margin: 0;
	padding: 0;
	line-height: 1.1;
	font-style: italic;
	position: absolute;
	left: 0px;
	top: -$l-size;
	width: 80%;
}
#price {
	width: 20%;
}
#price:before {
	content: 'CENA ZADŁUŻENIA';
	font-size: $font-size-xsmall;
	font-style: italic;
	color: $light-grey;
	position: absolute;
	left: 0;
	top: -$s-size;
}
#number {
	width: 40%;
}
#number:before {
	content: 'NUMBER';
	font-size: $font-size-xsmall;
	font-style: italic;
	color: $light-grey;
	position: absolute;
	left: 0;
	top: -$s-size;
}

