//colors
$off-black: #0c184e;
$off-white: #a5afd7;
$dark-blue: #9ba7cf;
$purple: #3471e2;
$blue:#103d64;
$light-blue :#184977;

//m-size

//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint:45rem;